@layer colors {
  :root {
    /* Light Theme Colors */
    --light-switch-shadow: #373d4e;
    --light-switch-icon: url(svg/moon-svgrepo-com.svg);
    --light-text: #222430;
    --light-bg: #f7f7f7;
    --light-theme: #d34a97;
    --light-secondary-bg: #eaeaea;
    --light-border: #d0d0d0;
    --light-accent: #ffb86c;
    --light-highlight: #f1fa8c;

    /* Dark Theme Colors */
    --dark-switch-shadow: #fce477;
    --dark-switch-icon: url(svg/sun-svgrepo-com.svg);
    --dark-text: #f7f7f7;
    --dark-bg: #222430;
    --dark-theme: #bd93f9;
    --dark-secondary-bg: #333645;
    --dark-border: #44475a;
    --dark-accent: #ff79c6;
    --dark-highlight: #50fa7b;

    /* Default mode */
    --switch-shadow-color: var(--light-switch-shadow);
    --switch-icon: var(--light-switch-icon);
    --text-color: var(--light-text);
    --bg-color: var(--light-bg);
    --theme-color: var(--light-theme);
    --secondary-bg-color: var(--light-secondary-bg);
    --border-color: var(--light-border);
    --accent-color: var(--light-accent);
    --highlight-color: var(--light-highlight);
  }

  /* Switched mode */
  .theme-switch:checked ~ #page {
    --switch-shadow-color: var(--dark-switch-shadow);
    --switch-icon: var(--dark-switch-icon);
    --text-color: var(--dark-text);
    --bg-color: var(--dark-bg);
    --theme-color: var(--dark-theme);
    --secondary-bg-color: var(--dark-secondary-bg);
    --border-color: var(--dark-border);
    --accent-color: var(--dark-accent);
    --highlight-color: var(--dark-highlight);

    & img {
      filter: brightness(80%);
    }
  }

  .theme-switch {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .color-theme-toggler {
    cursor: pointer;
    display: flex;

    & svg {
      fill: var(--switch-shadow-color);
      width: var(--icon-size-lg);
      height: var(--icon-size-lg);
      margin: var(--spacing-xs);
      transition: filter 0.2s;
    }
  }

  .theme-switch:focus,
  .theme-switch:hover {
    & ~ #page .color-theme-toggler > svg {
      filter: drop-shadow(0 0 10px var(--switch-shadow-color));
    }
  }

  .theme-switch:checked
    ~ #page
    .color-theme-toggler
    > svg[aria-labelledby="dark-mode"] {
    display: none;
  }

  .theme-switch:not(:checked)
    ~ #page
    .color-theme-toggler
    > svg[aria-labelledby="light-mode"] {
    display: none;
  }
}
